<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="css/bootstrap-4.4.1.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="images/favicon.ico"/>	  
  </head>
  <body>
  <div class="container-fluid"/>
    <div class="container"/>
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="index.html"><img src="images/logo.png" width="130" height="60" alt=""/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"> <a class="nav-link" href="about.html">About Us&nbsp;</a></li>
            <li class="nav-item"> <a class="nav-link" href="signup.html">Sign up</a></li>
            <li class="nav-item"> <a class="nav-link" href="login.html">Login&nbsp;</a></li>
            <li class="nav-item"> <a class="nav-link" href="jewelleries.html">Our Jewelleries</a></li>
            <li class="nav-item"> <a class="nav-link" href="cart.html">View Cart</a></li>
            <li class="nav-item"> <a class="nav-link" href="checkout.html">Checkout</a></li>
            <li class="nav-item"> <a class="nav-link" href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </nav>
<h1 class="text-center">&nbsp;</h1>
      <h1 class="text-center">Our  Jewelleries</h1>

      <p class="text-center">&nbsp;</p>
      <div class="row">
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j1.png" alt="Card image cap">
         
          </div>
			    <br>
			    <br>
        </div>
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j2.png" alt="Card image cap">
           
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j3.png" alt="Card image cap">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j4.png" alt="Card image cap">
			</div>
        </div>

        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j5.png" alt="Card image cap">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j6.png" alt="Card image cap">
          </div>
        </div>
      </div>
<br>
      <br>
<div class="row">
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j7.png" alt="Card image cap">
			</div>
        </div>

        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j8.png" alt="Card image cap">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card col-md-4 col-lg-12"> <img class="card-img-top" src="images/j9.png" alt="Card image cap">
          </div>
    </div>
  </div>
	  	<br>
	<br>
		
  <!-- body code goes here -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>